<!DOCTYPE html>
<html>
    <head>
	<% if (typeof(locals.pageTitle) != 'undefined') { %>
	<title><%= locals.pageTitle %></title>
	<% } %>
	<style>
	    body { font-family: Arial, sans-serif }
	    .cell { float:left; width:80px; height:20px; }
	    .cell { border-bottom:1px solid black; border-right:1px solid black;}
	    .editor { border:none; margin:0; outline:0; font-size:inherit;}
	    .break { width:0; height:0; float:none; clear:both; overflow:hidden; }
	    .cellname { color : White; background-color: #555; }
	</style>
    </head>
    <body>
	<h1> <%= pageTitle %></h1>
	<div>
	<%- body %>
	</div>
    </body>
</html>
